<p class="d-inline p-2">Sort by:</p>
<div class="dropdown d-inline">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{sortType}}
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="">
    <a class="dropdown-item" (click)="sortByRecommended()">Recommended</a>
    <a class="dropdown-item" (click)="sortByName()">Name</a>
    <a class="dropdown-item" (click)="sortByPrice()">Price</a>
    <a class="dropdown-item" (click)="sortByDistance()">Distance</a>
  </div>
</div>

<div class="pt-2">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Distance</th>
      <th scope="col">Rating</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let restaurant of restaurants">
      <td><a routerLink="/details/{{restaurant.id}}">{{restaurant.name}}</a></td>
      <td>{{restaurant.price}}</td>
      <td>{{restaurant.distance}}</td>
      <td><app-rating [restaurant]="restaurant"></app-rating></td>
      <td></td>
    </tr>
    </tbody>
  </table>

  <nav class="d-flex justify-content-center">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item" *ngFor="let page of [].constructor(pageCount); let i = index"><a class="page-link" (click)="changePage(i+1)">{{i+1}}</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
