<span id="rateMe">
  <a [ngClass]="fixed ? 'noHover' : ''">
    <i class="far fa-star py-2 px-1" [ngClass]="ratingClass(1)" (click)="setRating(1)"
       data-html="true" data-toggle="popover" data-placement="top" title="Very bad"></i>
  </a>
  <a [ngClass]="fixed ? 'noHover' : ''">
    <i class="far fa-star py-2 px-1" [ngClass]="ratingClass(2)" (click)="setRating(2)"
       data-html="true" data-toggle="popover" data-placement="top" title="Poor"></i>
  </a>
  <a [ngClass]="fixed ? 'noHover' : ''">
    <i class="far fa-star py-2 px-1" [ngClass]="ratingClass(3)" (click)="setRating(3)"
       data-html="true" data-toggle="popover" data-placement="top" title="OK"></i>
  </a>
  <a [ngClass]="fixed ? 'noHover' : ''">
    <i class="far fa-star py-2 px-1" [ngClass]="ratingClass(4)" (click)="setRating(4)"
       data-html="true" data-toggle="popover" data-placement="top" title="Good"></i>
  </a>
  <a [ngClass]="fixed ? 'noHover' : ''">
    <i class="far fa-star py-2 px-1" [ngClass]="ratingClass(5)" (click)="setRating(5)"
       data-html="true" data-toggle="popover" data-placement="top" title="Excellent"></i>
  </a>
</span>
